<a href="https://colab.research.google.com/github/aravind598/Data_Science_Proj/blob/master/Data%20Science%20Project/DataSection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Run This Very Important

In [0]:
url = 'https://raw.githubusercontent.com/aravind598/Github/aravind598/train_labels.csv?token=ANW7SFFLH4MDRNIQ6CZDX4K6Q34HM'
urll = 'https://raw.githubusercontent.com/aravind598/Github/aravind598/train_values.csv?token=ANW7SFAFKK4PCQRTQ4VAZOC6Q34HS'
url2 = 'https://raw.githubusercontent.com/aravind598/Github/aravind598/test_values.csv?token=ANW7SFDQHUPFIZR3Q5NVDWS6Q5PNG'

In [0]:
#Run This Very important

In [0]:
df1 = pd.read_csv(url)
df2 = pd.read_csv(urll)
df3 = pd.merge(df2,df1)
test_data = pd.read_csv(url2)

In [0]:
numericdata = pd.DataFrame(df3[['geo_level_1_id',	'geo_level_2_id',	'geo_level_3_id',	'count_floors_pre_eq',	'age',	'area_percentage',	'height_percentage',
                            'has_superstructure_adobe_mud',	'has_superstructure_mud_mortar_stone',	
                            'has_superstructure_stone_flag',	'has_superstructure_cement_mortar_stone',	'has_superstructure_mud_mortar_brick',	
                            'has_superstructure_cement_mortar_brick',	'has_superstructure_timber',	'has_superstructure_bamboo',	'has_superstructure_rc_non_engineered',
                            'has_superstructure_rc_engineered',	'has_superstructure_other',	'count_families',	'has_secondary_use',	
                            'has_secondary_use_agriculture',	'has_secondary_use_hotel',	'has_secondary_use_rental',	'has_secondary_use_institution',	
                            'has_secondary_use_school',	'has_secondary_use_industry',	'has_secondary_use_health_post',	'has_secondary_use_gov_office',	
                            'has_secondary_use_use_police',	'has_secondary_use_other', 'damage_grade']])

catData = pd.DataFrame(df3[['land_surface_condition','foundation_type','roof_type','ground_floor_type','other_floor_type','position','plan_configuration','legal_ownership_status']])

numeric_testdata = pd.DataFrame(test_data[['geo_level_1_id',	'geo_level_2_id',	'geo_level_3_id',	'count_floors_pre_eq',	'age',	'area_percentage',	'height_percentage',
                            'has_superstructure_adobe_mud',	'has_superstructure_mud_mortar_stone',	
                            'has_superstructure_stone_flag',	'has_superstructure_cement_mortar_stone',	'has_superstructure_mud_mortar_brick',	
                            'has_superstructure_cement_mortar_brick',	'has_superstructure_timber',	'has_superstructure_bamboo',	'has_superstructure_rc_non_engineered',
                            'has_superstructure_rc_engineered',	'has_superstructure_other',	'count_families',	'has_secondary_use',	
                            'has_secondary_use_agriculture',	'has_secondary_use_hotel',	'has_secondary_use_rental',	'has_secondary_use_institution',	
                            'has_secondary_use_school',	'has_secondary_use_industry',	'has_secondary_use_health_post',	'has_secondary_use_gov_office',	
                            'has_secondary_use_use_police',	'has_secondary_use_other']])

numtrain = pd.DataFrame(df3[['geo_level_1_id',	'geo_level_2_id',	'geo_level_3_id',	'count_floors_pre_eq',	'age',	'area_percentage',	'height_percentage',
                            'has_superstructure_adobe_mud',	'has_superstructure_mud_mortar_stone',	
                            'has_superstructure_stone_flag',	'has_superstructure_cement_mortar_stone',	'has_superstructure_mud_mortar_brick',	
                            'has_superstructure_cement_mortar_brick',	'has_superstructure_timber',	'has_superstructure_bamboo',	'has_superstructure_rc_non_engineered',
                            'has_superstructure_rc_engineered',	'has_superstructure_other',	'count_families',	'has_secondary_use',
                            'has_secondary_use_agriculture',	'has_secondary_use_hotel',	'has_secondary_use_rental',	'has_secondary_use_institution',	
                            'has_secondary_use_school',	'has_secondary_use_industry',	'has_secondary_use_health_post',	'has_secondary_use_gov_office',	
                            'has_secondary_use_use_police',	'has_secondary_use_other']])
alldata = pd.DataFrame(df3[['geo_level_1_id',	'geo_level_2_id',	'geo_level_3_id'	,'count_floors_pre_eq',	'age'	,'area_percentage',	'height_percentage'	,'land_surface_condition'	,
                            'foundation_type',	'roof_type',	'ground_floor_type'	,'other_floor_type'	,'position'	,'plan_configuration',	'has_superstructure_adobe_mud',	
                            'has_superstructure_mud_mortar_stone'	,'has_superstructure_stone_flag',	'has_superstructure_cement_mortar_stone',	'has_superstructure_mud_mortar_brick'	,
                            'has_superstructure_cement_mortar_brick',	'has_superstructure_timber',	'has_superstructure_bamboo',	'has_superstructure_rc_non_engineered',	
                            'has_superstructure_rc_engineered'	, 'has_superstructure_other',	'legal_ownership_status',	'count_families',	'has_secondary_use',	
                            'has_secondary_use_agriculture',	'has_secondary_use_hotel'	,'has_secondary_use_rental'	,'has_secondary_use_institution',	'has_secondary_use_school',
                            'has_secondary_use_industry','has_secondary_use_health_post',	'has_secondary_use_gov_office',	'has_secondary_use_use_police',	'has_secondary_use_other']])
#With Categorical Values as Dummmies
xingdata = pd.DataFrame(pd.get_dummies(catData, columns=catData.columns, drop_first=True))
lastData = numtrain.join(xingdata)


numtest = pd.DataFrame(test_data)
num = round(0.8*len(numtrain.index))
no = len(numtrain.index) - num
dog = num + no

In [0]:
print(len(df3))
df3.head()

260601

   building_id  geo_level_1_id  ...  has_secondary_use_other  damage_grade
0       802906               6  ...                        0             3
1        28830               8  ...                        0             2
2        94947              21  ...                        0             3
3       590882              22  ...                        0             2
4       201944              11  ...                        0             3

[5 rows x 40 columns]

In [0]:
df3.describe()

        building_id  geo_level_1_id  ...  has_secondary_use_other   damage_grade
count  2.606010e+05   260601.000000  ...            260601.000000  260601.000000
mean   5.256755e+05       13.900353  ...                 0.005119       2.238272
std    3.045450e+05        8.033617  ...                 0.071364       0.611814
min    4.000000e+00        0.000000  ...                 0.000000       1.000000
25%    2.611900e+05        7.000000  ...                 0.000000       2.000000
50%    5.257570e+05       12.000000  ...                 0.000000       2.000000
75%    7.897620e+05       21.000000  ...                 0.000000       3.000000
max    1.052934e+06       30.000000  ...                 1.000000       3.000000

[8 rows x 32 columns]

In [0]:
numtrain.head()

   geo_level_1_id  ...  has_secondary_use_other
0               6  ...                        0
1               8  ...                        0
2              21  ...                        0
3              22  ...                        0
4              11  ...                        0

[5 rows x 30 columns]

In [0]:
lastData.head()

   geo_level_1_id  geo_level_2_id  ...  plan_configuration_s  plan_configuration_u
0               6             487  ...                     0                     0
1               8             900  ...                     0                     0
2              21             363  ...                     0                     0
3              22             418  ...                     0                     0
4              11             131  ...                     0                     0

[5 rows x 57 columns]

In [0]:
test_data.head()

   building_id  ...  has_secondary_use_other
0       300051  ...                        0
1        99355  ...                        0
2       890251  ...                        0
3       745817  ...                        0
4       421793  ...                        0

[5 rows x 39 columns]